@import "header.scss";
@import "fonts.scss";

.slider-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .subsidiary-slide {
    width: 220px;
    height: 300px;
    background-color: #863636;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .center-slide {
    width: 600px;
    height: 360px;
    background-color: #863636;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Łucznik 1303 Plus;
  font-size: 20px;
  line-height: 23px;
  text-align: justify;

  color: #000000;
}